:root {
  --black: #000;
  --white: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--black);
  border: 1px solid var(--black);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--white);
}

.hour {
  background-color: var(--white);
  color: var(--black);
  border-top: 1px dashed var(--black);
}

.past {
  background-color: #d3d3d3;
  color: var(--white);
}

.present {
  background-color: #ff6961;
  color: var(--white);
}

.future {
  background-color: #77dd77;
  color: var(--white);
}

.saveBtn {
  border: 1px solid var(--black);
  background-color: #06aed5;
  color: var(--white);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}